body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

h4 {
  color: #e4606d;
  font-weight: bolder;
  text-underline: #721c24;
  text-decoration: underline;
}

.two-line-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.three-line-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

ul, li {
   text-decoration: none;
}
